    <%- include('partials/header') %>
    <div class="container my-5">
        <div class="card col-md-10 mx-auto border-default">
            <div class="card-header bg-default">
                <span class="d-flex justify-content-between">
                    <div class="card-title fs-5 fw-bold">Edit Todo</div>
                    <a href="/" class="btn btn-dark fw-bold">Back</a>
                </span>
            </div>
            <div class="card-body">
                <form action="/update-todo/<%= todo._id %>" method="post">
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control"
                            name="title"
                            id="titile"
                            value="<%= todo.title %>"
                            placeholder="Enter Todo"
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control py-3"
                            name="description"
                            id="description"
                            value="<%=todo.description%>"
                            placeholder="Description"
                        />
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>     
            </div> 
        </div>
    </div>
    <%- include('partials/footer') %>