    <%- include('partials/header') %>
    <div class="container my-5">
        <div class="card col-md-12 mx-auto border-default">
            <div class="card-header bg-default">
                <span class="d-flex justify-content-between">
                    <div class="card-title fs-4 fw-bold">All Todos</div>
                    <a href="/newtodo" class="btn btn-dark fw-bold">Add</a>
                </span>
                
            </div>
            <div class="card-body">
                <div class="table-responsive-md">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Created</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (const todo of todos) { %>
                            <tr>
                                <td><%=todo.title %></td>
                                <td><%=todo.description%></td>
                                <td><%=todo.createdAt%></td>
                                <td><%=todo.updatedAt%></td>
                                <td> 
                                    <a href="/edit-todo" class="btn btn-success btn-sm">Edit</a>
                                    <a href="/delete-todo" class="btn btn-danger btn-sm" title="delete">Del</a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        
    </div>
<%- include('partials/footer') %>